.form-inline {
    margin-top: 1em;
}
.form-inline > input {
    margin-right: 1em;
}
.query-name.form-control {
    width: 60%;
}
.query-addr.form-control {
    width: 20%;
}
.lib-item.active {
    font-weight: bold;
}
.mono-font {
    font-size: 0.9em;
    font-family: Monaco, Consolas, monospace;
}
