/* Query panel */
.form-inline {
    margin-top: 1em;
}
.form-inline > input {
    margin-right: 1em;
}
.query-name.form-control {
    width: 60%;
}
.query-addr.form-control {
    width: 20%;
}

/* Matches panel */
.lib-item.active {
    font-weight: bold;
}

/* Autocomplete */
.ui-menu .ui-menu-item {
    font-size: 0.8em;
    font-family: Monaco, Consolas, monospace;
}

/* Common */
.mono-font {
    font-size: 0.9em;
    font-family: Monaco, Consolas, monospace;
}
.panel-title-inline {
    display: inline-block;
}
.panel-title-right {
    float: right;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
}
