<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>libc database search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <style>
/* Query panel */
.form-inline {
    margin-top: 1em;
}
.form-inline > input {
    margin-right: 1em;
}
.query-name.form-control {
    width: 60%;
}
.query-addr.form-control {
    width: 20%;
}

/* Matches panel */
.lib-item.active {
    font-weight: bold;
}

/* Autocomplete */
.ui-menu .ui-menu-item {
    font-size: 0.8em;
    font-family: Monaco, Consolas, monospace;
}

/* Common */
.mono-font {
    font-size: 0.9em;
    font-family: Monaco, Consolas, monospace;
}
.panel-title-inline {
    display: inline-block;
}
.panel-title-right {
    float: right;
}

/* Sticky footer */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #ffffff;
}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <div class="pull-right">
          <div>
            View source <a href="https://github.com/blukat29/search-libc">here</a>
          </div>
          <div>
            Powered by <a href="https://github.com/niklasb/libc-database">libc-database</a>
          </div>
        </div>
        <h1>libc database search</h1>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title panel-title-inline">Query</h1>
              <span class="panel-title-right">
                <a href="/?q=_rtld_global%3A0">show all libs</a>
                /
                <a href="/">start over</a>
              </span>
            </div>
            <div class="panel-body">
              <div id="queries"></div>
              <form class="form-inline">
                <button type="button" id="query-add" class="btn btn-primary">+</button>
                <button type="button" id="query-find" class="btn btn-success">Find</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          {% if libs %}
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">Matches</h1></div>
            <div class="panel-body">
              {% for lib_name in libs %}
              <div>
                <a class="lib-item {{ 'active' if lib_name == lib }}">
                  {{ lib_name }}
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% elif notfound %}
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">Matches</h1></div>
            <div class="panel-body">
              Not found. Sorry!
            </div>
          </div>
          {% endif %}

          {% if symbols %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title panel-title-inline">{{ lib }}</h1>
              <a class="panel-title-right" href="/d/{{ lib }}.so">Download</a>
            </div>
            <div class="panel-body">
              <table class="table table-condensed table-hover">
                <tr>
                  <th></th>
                  <th>Symbol</th>
                  <th>Offset</th>
                  <th>Difference</th>
                </tr>
                {% for name, ofs in symbols %}
                <tr class="mono-font symbol-row">
                  <td><input type="radio" name="choose-base" class="symbol-radio" /></td>
                  <td class="symbol-name">{{ name }}</td>
                  <td class="symbol-ofs">{{ '0x%06x' | format(ofs) }}</td>
                  <td class="symbol-diff"></td>
                <tr>
                {% endfor %}
              </table>
              <div>
                <a target="_blank" href="/d/{{ lib }}.symbols">All symbols</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
      </div>
    </footer>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.12.4.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='URI.min.js') }}"></script>
    <script type="text/javascript">
function add_query(name, addr) {
    name = name || "";
    addr = addr || "";

    var form = $('<form class="form-inline query-item"></form>');
    var e_name = $('<input type="text" class="form-control mono-font query-name" value="'
            + name + '"/>');
    var e_addr = $('<input type="text" class="form-control mono-font query-addr" value="'
            + addr + '"/>');
    var del_btn = $('<button type="button" class="query-del btn btn-danger">-</button>');
    form.append(e_name);
    form.append(e_addr);
    form.append(del_btn);
    $('#queries').append(form);
}

function get_query() {
    var query = [];
    $('.query-item').each(function(i,e) {
        var $e = $(e);
        var name = $e.find('.query-name').val();
        var addr = $e.find('.query-addr').val();
        if (name && addr)
            query.push(name + ':' + addr)
    });
    return query.join(',');
}

$('body').on('click', '.query-del', function(e) {
    $(this).parent('form').remove();
});

$('#query-add').click(function() {
    add_query();
});

$('#query-find').click(function() {
    location.href = URI(window.location).query({q: get_query()});
});

$('.lib-item').click(function() {
    location.href = URI(window.location).query({
        q: get_query(),
        l: $.trim($(this).text())
    });
});

function get_ofs($e) {
    return parseInt($e.find('.symbol-ofs').text(), 16);
}

function set_ofs($e, d) {
    var s = ''
    if (d < 0)
        s = '-0x' + (-d).toString(16);
    else
        s = '0x' + (+d).toString(16);
    $e.find('.symbol-diff').text(s);
}

function show_offset_diffs($radio) {
    var $row = $radio.parents('tr.symbol-row');
    $('.symbol-row').removeClass('info');
    $row.addClass('info');

    var base = get_ofs($row);
    $('.symbol-row').each(function(i, e) {
        var $e = $(e);
        set_ofs($e, get_ofs($e) - base);
    });
}

function set_autocomplete(names) {
    $('.query-name').autocomplete({
        source: names,
        minLength: 2,
    });
}

$('.symbol-radio').change(function() {
    show_offset_diffs($(this));
});

$(document).ready(function() {
    var $first = $('.symbol-radio').first();
    $first.prop('checked', true);
    show_offset_diffs($first);
});
    {% for name, addr in query.items() %}
    add_query("{{ name }}", "{{ addr }}");
    {% endfor %}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='names.js') }}"></script>
    <script type="text/javascript">
    set_autocomplete(names);
    </script>
  </body>
</html>
