<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>libc database search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/start/jquery-ui.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='URI.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <div class="pull-right">
          <div>
            View source <a href="https://github.com/blukat29/search-libc">here</a>
          </div>
          <div>
            Powered by <a href="https://github.com/niklasb/libc-database">libc-database</a>
          </div>
        </div>
        <h1>libc database search</h1>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title panel-title-inline">Query</h1>
              <span class="panel-title-right">
                <a href="/?q=_rtld_global%3A0">show all libs</a>
                /
                <a href="/">start over</a>
              </span>
            </div>
            <div class="panel-body">
              <div id="queries"></div>
              <form class="form-inline">
                <button type="button" id="query-add" class="btn btn-primary">+</button>
                <button type="button" id="query-find" class="btn btn-success">Find</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          {% if libs %}
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">Matches</h1></div>
            <div class="panel-body">
              {% for lib_name in libs %}
              <div>
                <a class="lib-item {{ 'active' if lib_name == lib }}">
                  {{ lib_name }}
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if symbols %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title panel-title-inline">{{ lib }}</h1>
              <a class="panel-title-right" href="/d/{{ lib }}.so">Download</a>
            </div>
            <div class="panel-body">
              <table class="table table-condensed table-hover">
                <tr>
                  <th></th>
                  <th>Symbol</th>
                  <th>Offset</th>
                  <th>Difference</th>
                </tr>
                {% for name, ofs in symbols %}
                <tr class="mono-font symbol-row">
                  <td><input type="radio" name="choose-base" class="symbol-radio" /></td>
                  <td class="symbol-name">{{ name }}</td>
                  <td class="symbol-ofs">{{ '0x%06x' | format(ofs) }}</td>
                  <td class="symbol-diff"></td>
                <tr>
                {% endfor %}
              </table>
              <div>
                <a target="_blank" href="/d/{{ lib }}.symbols">All symbols</a>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script type="text/javascript">
    {% for name, addr in query.items() %}
    add_query("{{ name }}", "{{ addr }}");
    {% endfor %}
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='names.js') }}"></script>
    <script type="text/javascript">
    set_autocomplete(names);
    </script>
  </body>
</html>
