<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>libc database search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='URI.min.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>libc database search</h1>
      </div>
      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title" style="display: inline-block;">Query</h1>
              <a style="float: right;" href="/">Start over</a>
            </div>
            <div class="panel-body">
              <div id="queries"></div>
              <form class="form-inline">
                <button type="button" id="query-add" class="btn btn-primary">+</button>
                <button type="button" id="query-find" class="btn btn-success">Find</button>
              </form>
            </div>
          </div>
        </div>

        <div class="col-sm-6">

          {% if libs %}
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">Matches</h1></div>
            <div class="panel-body">

                {% for lib_name in libs %}
                <div><a class="lib-item {{ 'active' if lib_name == lib }}">
                  {{ lib_name }}
                  </a></div>
                {% endfor %}
            </div>
          </div>
          {% endif %}

          {% if symbols %}
          <div class="panel panel-default">
            <div class="panel-heading"><h1 class="panel-title">{{ lib }}</h1></div>
            <div class="panel-body">
              <table class="table table-condensed table-hover">
                <tr>
                  <th></th>
                  <th>Symbol</th>
                  <th>Offset</th>
                  <th>Difference</th>
                </tr>
                {% for name, ofs in symbols %}
                <tr class="mono-font symbol-row">
                  <td><input type="radio" name="choose-base" class="symbol-radio" /></td>
                  <td class="symbol-name">{{ name }}</td>
                  <td class="symbol-ofs">{{ '0x%06x' | format(ofs) }}</td>
                  <td class="symbol-diff"></td>
                <tr>
                {% endfor %}
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    <script>
    {% for name, addr in query.items() %}
    add_query("{{ name }}", "{{ addr }}");
    {% endfor %}
    </script>
  </body>
</html>
